@media screen and (max-width: 1600px){
	.services .text-block{padding: 70px 0 60px;}
	.private-office .office-box .office-content-box .office-tab.active:first-child{margin-left: 45px;}
	.private-office .office-box .change-privat-info-form{margin-left: 0;}
}

@media screen and (max-width: 1477px){
	.services .text-block a{
		display: block;
		max-width: 245px;
		max-height: 55px;
		margin: 0 auto;
		line-height: normal;
	}
	.services .text-block:first-child a{line-height: 25px;}
	.private-office .office-box .office-content-box .office-tab.active:first-child{
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-left: 0;
	}
	.private-office .office-box .office-content-box .office-tab.active:first-child a{margin: 0 25px 50px;}
}

@media screen and (max-width: 1366px){
	.equipment .text-box-left img{margin-left: 20px;}
	.private-office .office-box .history{padding-left: 10px;}
	.private-office .office-box .history .history-row{padding: 25px 20px 20px 25px}
}

@media screen and (max-width: 1280px){
	.services .text-box .text-right img, .services .text-box .text-left img{margin: 0 auto; float: none;}
	.services .text-box{text-align: center;}
	.equipment .text-box-left img{
		float: none;
		display: block;
		margin: 0 auto;
	}
	.about-us .wrap-text img{
		float: none;
		margin: 0 auto;
		display: block;
		padding: 0 15px;
	}
	.about-us .wrap-text{text-align: center;}
	.about-us .map-box .contact-box, .contacts .map-box .contact-box{right: 0;}
	.private-office .office-box .office-content-box .office-tab.active:first-child a{margin: 0 10px 20px;}
	.private-office .office-box .office-content-box .office-tab.active:first-child a{width: 300px;}
	.private-office .office-box .forms-box-row:first-child{
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-bottom: 0;
	}
	.private-office .office-box .forms-box-row:first-child form{max-width: 325px; margin-bottom: 73px;}
	.private-office .office-box .history .history-col{width: 140px; font-size: 18px;}
}

@media screen and (max-width: 1024px){
	.equipment .text-box-right img,
	.equipment .text-box-left img{
		float: none;
		display: block;
		margin: 0 auto;
		max-width: 100%;
		padding: 0 15px;
	}
	.private-office .office-box .forms-box-row{
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-bottom: 0;
	}
	.private-office .office-box .forms-box-row form{
		max-width: 325px;
		margin-bottom: 73px;
	}
}

@media screen and (max-width: 992px){
	.private-office .office-box .nav-bar{display: none;}
	.private-office .office-box .title-box{text-align: center;}
	.office-tab.active:nth-child(2){
		max-width: 1140px;
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.office-tab.active:nth-child(2) a{
		height: 289px;
		background: rgba(255, 255, 255, 0.66);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		border: 1px solid white;
		border-radius: 15px;
		color: #444;
		font-weight: 400;
		transition: all 300ms ease;
	}
	.office-tab.active:nth-child(2) a:hover{border: 1px solid #00b3ad;}
	.office-tab.active:nth-child(2) p{font-size: 28px;}
	.private-office .office-box .office-content-box .office-tab.active:nth-child(2){
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-left: 0;
	}
	.private-office .office-box .office-content-box .office-tab.active:nth-child(2) a{margin: 0 10px 20px;}
	.private-office .office-box .office-content-box .office-tab.active:nth-child(2) a{width: 300px;}
	.private-office .office-box .change-privat-info-form:before{left: 235px;}
}

@media screen and (max-width: 867px){
	.services .action .timer-item{width: 150px; height: 150px;}
	.services .action .timer-item p{font-size: 18px;}
	.services .action .timer-item span{font-size: 50px;}
}

@media screen and (max-width: 767px){
	.about-us .map-box, .contacts .map-box{background: url("/images/bg.jpg");}
	.about-us .map-box .contact-box, .contacts .map-box .contact-box{position: relative; margin: 0 auto;}
}

@media screen and (max-width: 666px){
	.services .action .timer-item{width: 100px; height: 100px;}
	.services .action .timer-item p{font-size: 14px;}
	.services .action .timer-item span{font-size: 30px;}
	.private-office .office-box .history .history-row{
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.private-office .office-box .history .history-col{padding: 5px 0; text-align: center;}
}

@media screen and (max-width: 479px){
	.services .action .timer-item{width: 70px; height: 70px;}
	.services .action .timer-item p{font-size: 10px;}
	.services .action .timer-item span{font-size: 26px;}
	.private-office .office-box .forms-box{padding: 45px 10px 65px;}
	.private-office .office-box .element-input{font-size: 12px; padding: 12px 0px;}
	.private-office .office-box .history .history-row{padding: 15px;}
	.private-office .office-box .history .history-col{width: 120px; font-size: 16px;}
}