/* Begin Basics */
h1, h2, h3, h4, h5, h6, p, figure{margin: 0;}
a{text-decoration: none;}

ul{margin: 0; padding: 0; list-style: none;}

/* End Basics */
/* Begin Elements */
.burger{
	display: none;
	position: absolute;
	margin: 0 auto;
	width: 50px;
	left: 10px;
	top: -10px;
	cursor: pointer;
	padding: 10px;
	opacity: .8;
}

.burger:hover{opacity: 1;}

.burger-brick{
	height: 4px;
	background: #00b4ae;
	margin-top: 6px;
	transition: 0.3s ease-out;
}

.open .burger-brick:first-child{
	-webkit-transform: rotate(405deg);
	transform: rotate(405deg);
	margin-top: 14px;
}

.open .burger-brick:last-child{
	-webkit-transform: rotate(-405deg);
	transform: rotate(-405deg);
	margin-top: -14px;
}

.open .middle{
	-webkit-transform: scale(0);
	transform: scale(0);
}

.title{text-align: center;}

.title h1, .title h2, .title h3{
	color: dimgrey;
	font-size: 48px;
	font-weight: 700;
	line-height: 37px;
}

.button{
	display: block;
	text-align: center;
	padding: 11px 5px;
	width: 149px;
	border: 3px solid #00b4ae;
	color: #14bab3;
	font-size: 18px;
	font-weight: 600;
	word-wrap: break-word;
	text-transform: uppercase;
	transition: all 300ms ease;
}

.button:hover{color: white; background: #00b4ae;}

.button-invers{
	display: block;
	text-align: center;
	padding: 10px 5px;
	width: 167px;
	background: #00b4ae;
	color: white;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	word-wrap: break-word;
	text-transform: uppercase;
	border: 0;
	transition: all 300ms ease;
}
.button-invers:hover{background: #00c7ff;}

.button-round{
	display: block;
	text-align: center;
	padding: 11px 5px;
	width: 243px;
	background: #00b4ae;
	border-radius: 10px;
	border: 0;
	color: white;
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	word-wrap: break-word;
	transition: all 300ms ease;
}

.button-round:hover{background: #00c7ff;}

.breadcrumbs{
	position: relative;
	padding: 23px 0 14px;
	background: #a2e1f3 url("/images/bg.jpg");
	z-index: 0;
}

.breadcrumbs .breadcrumbs-list li{
	position: relative;
	margin-right: 15px;
	display: inline-block;
}

.breadcrumbs .breadcrumbs-list li:last-child{margin-right: 0;}

.breadcrumbs .breadcrumbs-list li:not(:last-child):before{
	content: '>';
	position: absolute;
	right: -14px;
	font-weight: 300;
	font-size: 18px;
	color: white;
}

.breadcrumbs .breadcrumbs-list li a{
	color: white;
	font-size: 18px;
	font-weight: 300;
	transition: all 300ms ease;
}

.breadcrumbs .breadcrumbs-list li a:hover{color: #00b3ad;}

.pagination{
	position: relative;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.pagination a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 45px;
	height: 30px;
	border: 1px solid transparent;
	border-radius: 50%;
	font-size: 24px;
	font-weight: 600;
	color: #657072;
	transition: all 300ms ease;
}

.pagination a:hover{color: #00b3ad;}

.pagination ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 500px;
}

.pagination ul li{
	margin-right: 8px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
	color: #657072;
	cursor: default;
}

.pagination ul li:last-child{margin-right: 0;}

.pagination ul li.active{color: white; background: #00b3ad;}

.pagination ul li a{
	font-size: 24px;
	font-weight: 600;
	color: #657072;
	width: 100%;
	height: 100%;
	border: 1px solid transparent;
	border-radius: 50%;
	transition: all 300ms ease;
}

.jspVerticalBar{width: 11px;}

.jspVerticalBar .jspTrack .jspDrag{border-radius: 3px; background: #00b3ad;}

.select-small{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	min-width: 145px;
}

.select-small label{
	margin-right: 20px;
	color: #657072;
	font-size: 20px;
	font-weight: 400;
}

.select-small .jq-selectbox{max-width: 50px; width: 100%;}

.select-small .jq-selectbox .jq-selectbox__select{
	padding: 0px 15px 0 0;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	background: white;
	color: #657072;
	font-size: 18px;
	font-weight: 300;
}

.select-small .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text{text-align: center; color: #657072;}

.select-small .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger{
	width: 15px;
	border: 0;
	background: white;
}

.select-small .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger:before{
	content: '';
	position: absolute;
	bottom: 37%;
	left: 0;
	height: 2px;
	width: 8px;
	background: #a7a7a7;
	-webkit-transform: rotate(30deg) translateY(-50%);
	transform: rotate(30deg) translateY(-50%);
}

.select-small .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger:after{
	content: '';
	position: absolute;
	bottom: 37%;
	right: 0;
	height: 2px;
	width: 8px;
	background: #a7a7a7;
	-webkit-transform: rotate(-30deg) translateY(-50%);
	transform: rotate(-30deg) translateY(-50%);
}

.select-small .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow{display: none;}
.select-small .jq-selectbox .jq-selectbox__dropdown{border-radius: 0;}
.select-big{max-width: 310px; width: 100%;}
.select-big .jq-selectbox{width: 100%;}

.select-big .jq-selectbox .jq-selectbox__select{
	border-color: #00b3ad;
	border-radius: 0;
	background: white;
	color: #b8b8b8;
	font-size: 18px;
	font-weight: 400;
}

.select-big .jq-selectbox .jq-selectbox__select .jq-selectbox__select-text{color: #657072;}

.select-big .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger{
	width: 21px;
	border-color: #00b3ad;
	background: #00b3ad;
}

.select-big .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger:before{
	content: '';
	position: absolute;
	bottom: 37%;
	left: 2px;
	height: 2px;
	width: 8px;
	background: white;
	-webkit-transform: rotate(30deg) translateY(-50%);
	transform: rotate(30deg) translateY(-50%);
}

.select-big .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger:after{
	content: '';
	position: absolute;
	bottom: 37%;
	right: 2px;
	height: 2px;
	width: 8px;
	background: white;
	-webkit-transform: rotate(-30deg) translateY(-50%);
	transform: rotate(-30deg) translateY(-50%);
}

.select-big .jq-selectbox .jq-selectbox__select .jq-selectbox__trigger .jq-selectbox__trigger-arrow{display: none;}

.select-big .jq-selectbox .jq-selectbox__dropdown{border-radius: 0;}

.jq-file{height: 64px; box-shadow: none;}

.jq-file.focused .jq-file__name{border: 0;}

.jq-file:hover .jq-file__browse{opacity: .8; background: url("/images/file-icon.png") no-repeat;}

.jq-file .jq-file__name{
	width: 70%;
	margin: 20px 0 0 68px;
	padding: 0;
	box-shadow: none;
	background: none;
	border: 0;
	color: dimgrey;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.jq-file .jq-file__browse{
	left: 0;
	height: 64px;
	width: 51px;
	border: 0;
	border-radius: none;
	box-shadow: none;
	color: transparent;
	text-shadow: none;
	background: url("/images/file-icon.png") no-repeat;
	transition: all 300ms ease;
}

.news-popular-list{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.news-popular-list li{max-width: 500px; margin-right: 15px;}
.news-popular-list li:last-child{margin-right: 0;}
.news-popular-list li .popular-pic{height: 366px;}
.news-popular-list li .popular-pic img{
	-o-object-fit: cover;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.news-popular-list li .popular-content{
	position: relative;
	padding: 16px 22px 29px 22px;
	background: white;
}

.news-popular-list li .popular-content .button-invers{
	position: absolute;
	top: -24px;
	right: -9px;
}

.news-popular-list li .popular-content h6{
	margin-bottom: 19px;
	color: #657072;
	font-size: 24px;
	font-weight: 600;
}

.news-popular-list li .popular-content .popular-info{
	letter-spacing: -0.8px;
	color: #677375;
	font-family: Marion;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}

.news-content{
	z-index: 1;
	position: relative;
	color: #303030;
	font-weight: 600;
	line-height: 30px;
	font-size: 36px;
	font-size: 19px;
}

.news-content h1, .news-content h2, .news-content h3, .news-content h4, .news-content h5, .news-content h6{padding: 0 65px; padding-top: 52px;}
.news-content p, .news-content span{padding: 65px;}

.news-content img{border-radius: 15px;}

/* End Elements */
/* Begin Login/Reg/Recovery */
.enter .enter-top{
	padding: 32px 0 50px 0;
	border-bottom: 4px solid #00b3ad;
	background: #dff8ff url("/images/bg-light.jpg");
}

.enter .enter-top .enter-logo{
	position: relative;
	display: block;
	height: 163px;
	width: 361px;
	margin: 0 auto;
	transition: all 300ms ease;
}

.enter .enter-top .enter-logo:hover{opacity: .8;}

.enter .enter-top .enter-logo img{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.enter .enter-content{background: #a2e1f3 url("/images/bg.jpg");}

.enter .enter-content .enter-center{
	padding: 43px 15px 25px 15px;
	height: 615px;
	max-width: 480px;
	margin: 0 auto;
	background: url("/images/lock-big.png") no-repeat center;
}
.user-panel-form{
	padding: 43px 15px 25px 15px;
	height: 615px;
	max-width: 480px;
	margin: 0 auto;
}
.user-panel-form .action-form{
	display: block !important;
}

.enter .enter-content .enter-center h1, .enter .enter-content .enter-center h2, .enter .enter-content .enter-center h3{
	margin-bottom: 38px;
	text-align: center;
	color: dimgrey;
	font-size: 36px;
	font-weight: 700;
	line-height: 37px;
}

.enter .enter-content .enter-center form, .user-panel-form form{margin-bottom: 13px;}
.enter .enter-content .enter-center form .form-field, .user-panel-form .form-field{margin-bottom: 15px;}
.enter .enter-content .enter-center form .form-field:last-of-type, .user-panel-form .form-field:last-of-type{margin-bottom: 32px;}
.enter .enter-content .enter-center form .form-field label, .user-panel-form .form-field label{
	margin-bottom: 7px;
	display: block;
	color: dimgrey;
	font-size: 20px;
	font-weight: 600;
	line-height: 37px;
}

.enter .enter-content .enter-center form .form-field input, .user-panel-form .form-field input{
	padding-left: 21px;
	max-width: 450px;
	width: 100%;
	height: 58px;
	background-color: white;
	border: 2px solid #00b3ad;
	color: dimgrey;
	font-size: 18px;
	font-weight: 400;
	line-height: 53px;
}

.enter .enter-content .enter-center form .form-field input.error, .user-panel-form .form-field input.error{border-color: red;}
.enter .enter-content .enter-center form .button-round, .user-panel-form .button-round{margin: 0 auto; width: 312px;}

.enter .enter-content .enter-center .enter-links{
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	line-height: 37px;
	color: dimgrey;
}

.enter .enter-content .enter-center .enter-links a{
	color: #00b4ae;
	text-decoration: underline;
	transition: all 300ms ease;
}

.enter .enter-content .enter-center .enter-links a:hover{opacity: .8;}

/* End Login/Reg/Recovery */
/* Begin News */
.news{
	position: relative;
	padding-bottom: 63px;
	background: #a2e1f3 url("/images/bg.jpg");
	z-index: 0;
}

.news:before{
	content: '';
	position: absolute;
	left: 414px;
	top: -47px;
	height: 246px;
	width: 235px;
	background: url("/images/airplane.png") no-repeat;
}

.news:after{
	content: '';
	position: absolute;
	right: 67px;
	bottom: -60px;
	height: 246px;
	width: 235px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	background: url("/images/airplane.png") no-repeat;
}

.news .news-wrap{
	position: relative;
	z-index: 1;
	max-width: 1810px;
	width: 100%;
	margin: 0 auto 16px auto;
	padding: 0 15px;
}

.news .news-wrap .title{margin-bottom: 64px;}

.news .news-wrap ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.news .news-wrap ul li{max-width: 860px; margin-bottom: 58px;}

.news .news-wrap ul li .news-pic{height: 252px;}

.news .news-wrap ul li .news-pic img{
	-o-object-fit: cover;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.news .news-wrap ul li .item-content{
	padding: 16px 20px 32px 20px;
	color: dimgrey;
	background: white;
}

.news .news-wrap ul li .item-content .news-icon{
	position: relative;
	margin: 0 auto 18px auto;
	height: 60px;
	width: 60px;
}

.news .news-wrap ul li .item-content .news-icon img{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.news .news-wrap ul li .item-content h6{
	margin-bottom: 26px;
	text-align: center;
	line-height: 24px;
	font-size: 24px;
	font-weight: 700;
}

.news .news-wrap ul li .item-content .news-info{
	line-height: 24px;
	font-size: 18px;
	font-weight: 400;
}

.news .news-wrap ul li .item-content .button-round{
	position: relative;
	bottom: -50px;
	margin: 0 auto;
}

/* End News */
/* Begin News Inner */
.news-inner{
	position: relative;
	overflow: hidden;
	padding-top: 22px;
	background: #a2e1f3 url("/images/bg.jpg");
	z-index: 0;
}

.news-inner:before{
	content: '';
	position: absolute;
	left: 670px;
	top: 735px;
	height: 302px;
	width: 287px;
	background: url("/images/airplane-big.png") no-repeat;
}

.news-inner .title {
  margin-bottom: 75px;
}

.news-inner .title h1,h2,h3 {
	color: dimgrey;
	font-size: 36px;
	font-weight: 700;
	line-height: 30px;
}

.news-inner .news-popular{
	position: relative;
	padding: 115px 0 205px 0;
	background: url("/images/news-bottom.png") repeat-x bottom;
	background-position-y: 686px;
}

.news-inner .news-popular:before{
	content: '';
	position: absolute;
	left: 272px;
	top: -134px;
	height: 199px;
	width: 184px;
	background: url("/images/arrow.png") no-repeat;
}

.news-inner .news-popular:after{
	content: '';
	position: absolute;
	right: 435px;
	top: -75px;
	height: 199px;
	width: 184px;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	background: url("/images/arrow.png") no-repeat;
}

.news-inner .news-popular .title-line{margin-bottom: 65px;}

/* End News Inner */
/* Begin Vacancies */
.vacancies{
	overflow: hidden;
	position: relative;
	padding: 21px 0 213px 0;
	background: #a2e1f3 url("/images/bg.jpg");
	z-index: 0;
}

.vacancies:before{
	content: '';
	position: absolute;
	left: 465px;
	top: 15px;
	height: 518px;
	width: 399px;
	-webkit-filter: grayscale(100%) contrast(200%);
	filter: grayscale(100%) contrast(200%);
	background: url("/images/tel-bg.png") no-repeat;
	background-size: 330px;
}

.vacancies:after{
	content: '';
	position: absolute;
	right: 135px;
	bottom: -325px;
	height: 518px;
	width: 399px;
	-webkit-filter: grayscale(100%) contrast(200%);
	filter: grayscale(100%) contrast(200%);
	background: url("/images/tel-bg.png") no-repeat;
	background-size: 330px;
}

.vacancies .vacancies-wrap{
	position: relative;
	z-index: 1;
	max-width: 1850px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.vacancies .vacancies-wrap .title{margin-bottom: 78px;}

.vacancies .vacancies-wrap ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.vacancies .vacancies-wrap ul li{max-width: 540px; margin-bottom: 60px; background: white;}

.vacancies .vacancies-wrap ul li .vacancy-title{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 109px;
	text-align: center;
}

.vacancies .vacancies-wrap ul li .vacancy-title h1, .vacancies .vacancies-wrap ul li .vacancy-title h2, .vacancies .vacancies-wrap ul li .vacancy-title h3{
	color: dimgrey;
	font-size: 36px;
	font-weight: 700;
	line-height: 24px;
}

.vacancies .vacancies-wrap ul li .vacancy-pic{height: 252px;}

.vacancies .vacancies-wrap ul li .vacancy-pic img{
	-o-object-fit: cover;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.vacancies .vacancies-wrap ul li .vacancy-content{
	padding: 28px 24px 41px 24px;
	color: dimgrey;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
}
.vacancies .vacancies-wrap ul li .button-round{margin: 0 auto -25px auto;}

/* End Vacancies */
/* Begin Vacancies Inner */
.vacancies-inner{background: #a2e1f3 url("/images/bg.jpg");}

.vacancies-inner .title{margin-bottom: 38px;}
.vacancies-inner .vacancy-pic{height: 298px;}

.vacancies-inner .vacancy-pic img{
	-o-object-fit: cover;
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.vacancies-inner .vacancy-content{padding: 82px 0 64px 0; background: white;}

.vacancies-inner .vacancy-content .vacancy-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 1695px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-left{
	max-width: 1063px;
	padding-top: 48px;
	margin-right: 15px;
	color: dimgrey;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
}

.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-right{
	position: relative;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding: 35px 35px 20px 35px;
	height: 500px;
	max-width: 442px;
	width: 100%;
	border: 1px solid #00b3ad;
	background: #a2e1f3 url("/images/bg.jpg");
}

.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-right:before{
	content: '';
	position: absolute;
	top: -9px;
	left: 0;
	right: 0;
	margin: auto;
	width: 398px;
	height: 8px;
	border: 1px solid #00b3ad;
	border-bottom: 0;
	background: #a2e1f3 url("/images/bg.jpg");
}

.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-right:after{
	content: '';
	position: absolute;
	top: -17px;
	left: 0;
	right: 0;
	margin: auto;
	width: 364px;
	height: 8px;
	border: 1px solid #00b3ad;
	border-bottom: 0;
	background: #a2e1f3 url("/images/bg.jpg");
}

.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-right .vacancy-form h6{
	margin-bottom: 33px;
	text-align: center;
	color: dimgrey;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
}

.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-right .vacancy-form .fields-wrap{margin-bottom: 29px;}
.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-right .vacancy-form .fields-wrap .form-field{margin-bottom: 12px;}
.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-right .vacancy-form .fields-wrap .form-field:last-child{margin-bottom: 0;}
.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-right .vacancy-form .fields-wrap .form-field input{
	padding-left: 21px;
	max-width: 371px;
	width: 100%;
	height: 58px;
	background-color: white;
	border: 1px solid #00b3ad;
	color: dimgrey;
	font-size: 18px;
	font-weight: 400;
	line-height: 53px;
}
.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-right .vacancy-form .fields-wrap .form-field input.error{border-color: red;}
.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-right .vacancy-form .fields-wrap .form-field input::-webkit-input-placeholder{color: dimgrey;}
.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-right .vacancy-form .fields-wrap .form-field input::-moz-placeholder{color: dimgrey;}
.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-right .vacancy-form .fields-wrap .form-field input:-moz-placeholder{color: dimgrey;}
.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-right .vacancy-form .fields-wrap .form-field input:-ms-input-placeholder{color: dimgrey;}
.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-right .vacancy-form .file-field{
	margin-bottom: 44px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-right .vacancy-form .file-field .button-round{
	padding: 5px;
	width: 101px;
	color: white;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.vacancies-inner .vacancy-content .vacancy-wrap .vacancy-right .vacancy-form button{margin: 0 auto;}

/* End Vacancies Inner */
/* Begin Brand */
.brand{
	position: relative;
	overflow: hidden;
	padding: 0 0 52px 0;
	background: #dff8ff;
	z-index: 0;
}

.brand:before{
	content: '';
	position: absolute;
	right: -230px;
	top: -20px;
	height: 297px;
	width: 339px;
	background: url("/images/message.png") no-repeat;
}

.brand:after{
	content: '';
	position: absolute;
	left: -48px;
	bottom: 238px;
	height: 297px;
	width: 339px;
	background: url("/images/message.png") no-repeat;
}

.brand .breadcrumbs{
	z-index: 2;
	padding: 8px 0;
	margin: 14px 0 37px 0;
	background: white;
}

.brand .breadcrumbs .breadcrumbs-inner{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.brand .breadcrumbs .breadcrumbs-inner .breadcrumbs-list li:before{color: #00b3ad;}
.brand .breadcrumbs .breadcrumbs-inner .breadcrumbs-list li a{color: #00b3ad;}
.brand .breadcrumbs .breadcrumbs-inner .breadcrumbs-list li a:hover{opacity: .8;}

.brand .breadcrumbs .breadcrumbs-inner .brand-filters{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 510px;
	width: 100%;
}

.brand h1{
	margin-bottom: 32px;
	text-align: center;
	color: dimgrey;
	font-size: 36px;
	font-weight: 700;
	line-height: 37px;
}

.brand .brand-items{
	margin-bottom: 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.brand .brand-items .product-item{padding-top: 11px;}

.brand .brand-items .product-item .name{
	padding-top: 28px;
	line-height: 20px;
	border-bottom: 0;
}

.brand .brand-items .product-item .name .prod-name{font-weight: 400; margin-bottom: 4px;}

.brand .brand-items .product-item .price{
	padding-top: 3px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.brand .brand-items .product-item .price .button-invers{
	padding: 12px;
	width: 149px;
	font-size: 18px;
}

.brand .pagination{margin-bottom: 53px;}

.brand .brand-info{color: dimgrey;}

.brand .brand-info h1, .brand .brand-info h2, .brand .brand-info h3{
	margin-bottom: 45px;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
}

.brand .brand-info .info-content{
	margin-bottom: 41px;
	color: dimgrey;
	font-size: 24px;
	line-height: 28px;
	font-weight: 400;
}

.brand .brand-info .info-content p:first-child{margin-bottom: 30px;}

.brand .brand-info .button-round{
	margin: 0 auto;
	padding: 18px 10px;
	width: 287px;
	font-size: 22px;
}

/* End Brand */
/* Begin Request */
.request{padding: 13px 0 67px 0; background: #dff8ff url("/images/bg-light.jpg");}

.request:before{
	content: '';
	position: absolute;
	right: 167px;
	top: 430px;
	height: 282px;
	width: 269px;
	background: url("/images/airplane-blue.png") no-repeat;
}

.request h1{
	margin-bottom: 59px;
	text-align: center;
	color: #657072;
	font-size: 36px;
	font-weight: 700;
}

.request .request-inner{
	position: relative;
	max-width: 1325px;
	padding: 0 15px;
	margin: 0 auto;
}

.request .request-inner .request-top{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: white;
}

.request .request-inner .request-top .product-item{
	width: 255px;
	padding: 15px 0px;
	margin: 0 28px 0 0;
}

.request .request-inner .request-top .product-item .pic{
	-ms-flex-negative: 0;
	flex-shrink: 0;
	position: relative;
	height: 155px;
	width: 255px;
}

.request .request-inner .request-top .product-item .pic img{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.request .request-inner .request-top .product-content{padding: 21px 15px 21px 0;}

.request .request-inner .request-top .product-content h2{
	margin-bottom: 23px;
	color: #303030;
	font-size: 30px;
	font-weight: 400;
	line-height: 35px;
}

.request .request-inner .request-top .product-content .product-info{
	color: #9b9b9b;
	font-size: 24px;
	font-weight: 600;
	line-height: 26px;
}

.request .request-inner .request-form .fields-wrap{
	margin-bottom: 78px;
	padding: 81px 41px 97px 33px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background: #a2e1f3 url("/images/bg.jpg");
}

.request .request-inner .request-form .fields-wrap .request-col{max-width: 327px; width: 100%; margin-right: 15px;}
.request .request-inner .request-form .fields-wrap .request-col:last-child{max-width: 367px; margin-right: 0;}
.request .request-inner .request-form .fields-wrap .request-col .form-field{margin-bottom: 34px;}
.request .request-inner .request-form .fields-wrap .request-col .form-field:last-child{margin-bottom: 0}
.request .request-inner .request-form .fields-wrap .request-col .form-field label{
	display: block;
	margin-left: 12px;
	font-size: 18px;
	line-height: 32px;
	color: dimgrey;
	font-weight: 400;
}
.request .request-inner .request-form .fields-wrap .request-col .form-field input{width: 100%;}
.request .request-inner .request-form .fields-wrap .request-col .form-field textarea{width: 100%; height: 158px;}
.request .request-inner .request-form .button-round{width: 195px; margin: 0 auto;}

/* End Request */
/* Begin Catalog */
.catalog{
	position: relative;
	padding-bottom: 57px;
	background: #dff8ff;
	overflow: hidden;
	z-index: 0;
}

.catalog:before{
	content: '';
	position: absolute;
	right: -231px;
	top: 15px;
	height: 297px;
	width: 339px;
	background: url("/images/message.png") no-repeat;
}

.catalog:after{
	content: '';
	position: absolute;
	left: -47px;
	bottom: 139px;
	height: 297px;
	width: 339px;
	background: url("/images/message.png") no-repeat;
}

.catalog .breadcrumbs{
	z-index: 2;
	padding: 8px 0;
	margin: 14px 0 17px 0;
	background: white;
}
.catalog .breadcrumbs .breadcrumbs-inner{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.catalog .breadcrumbs .breadcrumbs-inner .breadcrumbs-list li:before{color: #00b3ad;}
.catalog .breadcrumbs .breadcrumbs-inner .breadcrumbs-list li a{color: #00b3ad;}
.catalog .breadcrumbs .breadcrumbs-inner .breadcrumbs-list li a:hover{opacity: .8;}

.catalog .catalog-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.catalog .catalog-wrap .catalog-filter-wrap{
	-ms-flex-negative: 0;
	flex-shrink: 0;
	padding-top: 8px;
	margin-right: 35px;
	width: 338px;
}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item{
	margin-bottom: 10px;
	padding: 20px 0 18px 0;
	background: white;
}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item.filter-rating{padding-bottom: 18px;}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item:last-child{margin-bottom: 0;}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-title{
	padding: 0 36px 0 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	transition: all 300ms ease;
}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-title:hover h3{color: #00b3ad;}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-title:hover .filter-arrow:before, .catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-title:hover .filter-arrow:after{background: #00b3ad;}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-title h3{
	color: dimgrey;
	font-size: 24px;
	font-weight: 400;
}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-title .filter-arrow{
	position: relative;
	margin-right: 24px;
	height: 8px;
	width: 17px;
}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-title .filter-arrow.active{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-title .filter-arrow:before{
	content: '';
	position: absolute;
	bottom: 2px;
	left: 0;
	height: 2px;
	width: 10px;
	background: #a7a7a7;
	-webkit-transform: rotate(-30deg) translateY(-50%);
	transform: rotate(-30deg) translateY(-50%);
}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-title .filter-arrow:after{
	content: '';
	position: absolute;
	bottom: 2px;
	right: 0;
	height: 2px;
	width: 10px;
	background: #a7a7a7;
	-webkit-transform: rotate(30deg) translateY(-50%);
	transform: rotate(30deg) translateY(-50%);
}

.catalog .catalog-wrap .catalog-filter-wrap .filter-item .link-list-wrap{padding: 26px 0 0 36px;}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .link-list-wrap .link-list{height: 458px; overflow-y: scroll;}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .link-list-wrap .link-list li a{
	color: dimgrey;
	font-size: 18px;
	font-weight: 400;
	line-height: 42px;
	transition: all 300ms ease;
}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .link-list-wrap .link-list li a:hover{color: #00b3ad;}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-checkbox-inner{padding-top: 13px;}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-checkbox-inner .filter-search{
	margin-bottom: 16px;
	padding: 0px 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-checkbox-inner .filter-search .search-input{max-width: 270px; width: 100%;}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-checkbox-inner .filter-search button{
	width: 40px;
	background: #00b3ad;
	border: 0;
	padding: 8px 0 6px;
}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-checkbox-inner .checkbox-list-wrap{padding-left: 33px;}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-checkbox-inner .checkbox-list-wrap .checkbox-list{height: 290px; overflow-y: scroll;}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-checkbox-inner .checkbox-list-wrap .checkbox-list li{
	color: dimgrey;
	font-size: 18px;
	font-weight: 400;
	line-height: 37px;
}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-checkbox-inner .checkbox-list-wrap .checkbox-list li input + label span{
	display: inline-block;
	margin-right: 10px;
	width: 13px;
	height: 13px;
	border: 1px solid #00b3ad;
	border-radius: 5px;
}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-checkbox-inner .checkbox-list-wrap .checkbox-list li input:checked + label span{
	width: 13px;
	height: 13px;
	border: 1px solid #00b3ad;
	background: #00b3ad;
	border-radius: 5px;
}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-price-wrap{padding: 44px 24px 0 24px;}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-price-wrap .filter-price-inner{
	margin-bottom: 23px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-price-wrap .filter-price-inner .form-field label{margin-right: 15px;}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-price-wrap .filter-price-inner .form-field input{
	padding-left: 5px;
	width: 90px;
	height: 24px;
	border: 1px solid #00b3ad;
}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-price-wrap .button-invers{
	margin: 0 0 0 auto;
	padding: 5px;
	font-size: 16px;
	width: 133px;
}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-stars{
	padding-top: 49px;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-stars span{
	color: #605e5e;
	font-weight: 300;
	font-size: 18px;
	padding-right: 40px;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-stars input{
	display: none;
	opacity: 0;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 0;
	z-index: 0;
}

.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-stars input:checked ~ label{height: 25px; width: 25px;}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-stars input:checked ~ label, .catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-stars label, .catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-stars label:hover, .catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-stars label:hover ~ label{
	background: url("/images/star.png") no-repeat center center/cover;
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-stars .stars-label{
	background: url("/images/star.png") no-repeat center center/cover;
	height: 25px;
	width: 25px;
	margin-right: 19px;
	position: relative;
	z-index: 1;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	margin-top: -6px;
	transition: all 300ms ease;
}

.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-stars .stars-label:first-of-type{margin-right: 0;}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-stars .stars-label:hover{cursor: pointer;}
.catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-stars .stars-label:hover, .catalog .catalog-wrap .catalog-filter-wrap .filter-item .filter-stars .stars-label:hover ~ label{height: 25px; width: 25px;}
.catalog .catalog-wrap .catalog-right h1, .catalog .catalog-wrap .catalog-right h2, .catalog .catalog-wrap .catalog-right h3{
	margin-bottom: 14px;
	text-align: center;
	color: dimgrey;
	font-size: 36px;
	font-weight: 700;
	line-height: 37px;
}

.catalog .catalog-wrap .catalog-right .products{
	margin-bottom: 42px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.catalog .catalog-wrap .catalog-right .products .product-item{margin-bottom: 27px; padding: 30px 15px 6px;}
.catalog .catalog-wrap .catalog-right .products .product-item .pic{height: 316px;}
.catalog .catalog-wrap .catalog-right .products .product-item .name{
	padding: 19px 5px 6px;
	font-size: 13px;
	letter-spacing: -0.3px;
}
.catalog .catalog-wrap .catalog-right .products .product-item .name .prod-name{font-size: 20px; font-weight: 400;}
.catalog .catalog-wrap .catalog-right .products .product-item .price a{
	margin-top: 13px;
	padding: 10px 30px;
	font-size: 16px;
}
.catalog .catalog-wrap .catalog-right .pagination{margin-bottom: 64px;}
.catalog .catalog-wrap .catalog-right .catalog-seo{color: dimgrey;}
.catalog .catalog-wrap .catalog-right .catalog-seo h2{
	margin-bottom: 44px;
	text-align: center;
	font-size: 36px;
	font-weight: 700;
}
.catalog .catalog-wrap .catalog-right .catalog-seo .catalog-text{
	margin-bottom: 56px;
	font-size: 24px;
	line-height: 29px;
	font-weight: 400;
}
.catalog .catalog-wrap .catalog-right .catalog-seo .catalog-text p:first-child, .catalog .catalog-wrap .catalog-right .catalog-seo .catalog-text span:first-child{margin-bottom: 28px;}
.catalog .catalog-wrap .catalog-right .catalog-seo .button-round{padding: 17px 5px; margin: 0 auto;}