.bread-light .breadcrumbs{background: #dff8ff url("/images/bg-light.jpg");}
.bread-light .breadcrumbs ul li:not(:last-child):before{color: #00b4ae;}
.bread-light .breadcrumbs ul li a{color: #00b4ae; transition: .3s;}
.bread-light .breadcrumbs ul li a:hover{transition: .3s; color: #9fddf0;}

.title-line{
	font-weight: 700;
	font-size: 36px;
	color: #677375;
	padding-bottom: 28px;
	position: relative;
	text-align: left;
	letter-spacing: .7px;
}
.title-line h1, .title-line h2, .title-line h3{font-weight: 700; font-size: 36px;}
.title-line:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	background: #00b4ae;
	height: 4px;
	width: 345px;
}
.title-line.line-white{padding-bottom: 29px;}
.title-line.line-white:before{background: #fff; width: 333px;}

.hot, .sale{
	text-transform: uppercase;
	position: absolute;
	font-weight: 700;
	font-size: 23px;
	color: #fefefe;
	border-radius: 50%;
	padding: 18px 9px;
	background: #ee6111;
	top: -10px;
	right: 8px;
	display: block;
}
.sale{background: #2ca02c; font-size: 22px;}

.product-item{
	width: 24%;
	background: #fff;
	padding: 30px 15px 15px;
	margin-bottom: 23px;
}
.product-item.hot-item .pic .hot{display: inline-block;}
.product-item .pic{
	position: relative;
	text-align: center;
	height: 350px;
	width: 100%;
}
.product-item .pic img{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.product-item .name{
	padding: 19px 8px 10px;
	font-weight: 400;
	font-size: 14px;
	color: #9b9b9b;
	border-bottom: 2px solid #e8e8e8;
	line-height: 21px;
	text-align: left;
	letter-spacing: .2px;
}
.product-item .name .prod-name{
	font-weight: 600;
	font-size: 22px;
	color: #303030;
	letter-spacing: -.7px;
}
.product-item .price{padding: 15px 0px 10px 9px; display: block;}
.product-item .price .prod-price{float: left; text-align: left;}
.product-item .price .prod-price .old{
	font-weight: 400;
	font-size: 18px;
	color: #959899;
	position: relative;
	display: inline-block;
	padding-left: 2px;
}
.product-item .price .prod-price .old:before{
	content: '';
	position: absolute;
	top: 8px;
	left: -1px;
	height: 1px;
	width: 110%;
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg);
	background: #ee6111;
}
.product-item .price .prod-price .new{
	padding-top: 8px;
	font-weight: 700;
	font-size: 40px;
	color: #ee6111;
	display: block;
	letter-spacing: .4px;
}
.product-item .price .button, .product-item .price .button-invers, .product-item .price a{
	float: right;
	margin-top: 16px;
	padding: 14px 27px 10px 26px;
	letter-spacing: -.4px;
	width: auto;
}

.el-input, .el-textarea{
	border: 1px solid #00b3ad;
	border-radius: 10px;
	padding: 11px 10px;
	background: #fff;
	resize: none;
	font-weight: 400;
	font-size: 18px;
	color: #00b3ad;
}
.el-input.error, .el-textarea.error{border: 1px solid #f00;}
.el-radio{
	border: 1px solid #1dbcb6;
	background: #fff;
	box-shadow: none;
	transition: .3s;
	margin-right: 23px;
}
.el-radio.checked{border: 1px solid #fff; transition: .3s;}
.el-radio.checked .jq-radio__div{
	width: 14px;
	height: 14px;
	margin: 0px 0 0 0px;
	background: #1abbb5;
	box-shadow: none;
}

.js-number.focused .jq-number__field{border: 0;}
.js-number .jq-number__field{
	border: 0;
	background: transparent;
	box-shadow: none;
	width: 60px;
}

.js-number .jq-number__field input{
	text-align: right;
	font-weight: 600;
	font-size: 24px;
	color: #00b3ad;
}

.js-number .jq-number__spin{
	border: 0;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
	width: 25px;
	height: 10px;
	right: -5px;
	top: 5px;
}

.js-number .jq-number__spin:before{
	content: '';
	position: absolute;
	bottom: 5px;
	left: 4px;
	height: 2px;
	width: 45%;
	background: #a7a7a7;
	-webkit-transform: rotate(-27deg) translateY(-50%);
	transform: rotate(-27deg) translateY(-50%);
	transition: .3s;
}

.js-number .jq-number__spin:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 13px;
	height: 2px;
	width: 45%;
	background: #a7a7a7;
	-webkit-transform: rotate(27deg) translateY(-50%);
	transform: rotate(27deg) translateY(-50%);
	transition: .3s;
	border: 0;
}

.js-number .jq-number__spin:hover:before, .js-number .jq-number__spin:hover:after{background: #00b3ad; transition: .3s;}
.js-number .jq-number__spin.minus{top: auto;}

.js-number .jq-number__spin.minus:before{
	top: 2px;
	-webkit-transform: rotate(27deg) translateY(-50%);
	transform: rotate(27deg) translateY(-50%);
}

.js-number .jq-number__spin.minus:after{
	top: 2px;
	-webkit-transform: rotate(-27deg) translateY(-50%);
	transform: rotate(-27deg) translateY(-50%);
}

.search-input{
	width: 268px;
	border: 1px solid #00b3ad;
	padding: 6px 6px 5px;
	font-weight: 400;
	font-size: 18px;
	color: #00b3ad;
}

.search-input::-webkit-input-placeholder{
	font-weight: 600;
	font-size: 18px;
	color: #b8b8b8;
}

.search-input:-moz-placeholder{
	font-weight: 600;
	font-size: 18px;
	color: #b8b8b8;
}

.search-input::-moz-placeholder{
	font-weight: 600;
	font-size: 18px;
	color: #b8b8b8;
}

.search-input:-ms-input-placeholder{
	font-weight: 600;
	font-size: 18px;
	color: #b8b8b8;
}

.search{width: 402px; padding-top: 23px;}
.search form{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
}

.search form .submit{
	width: 40px;
	background-color: #00b3ad;
	border: 0;
	padding: 8px 0 6px;
}

.buttons{
	padding: 33px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
}

.buttons .continue{
	font-weight: 600;
	font-size: 24px;
	color: #00b3ad;
	padding: 12px 27px 15px 23px;
	letter-spacing: -.5px;
	background: #fff;
	border-radius: 10px;
	transition: .3s;
}

.buttons .continue span{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	width: 20px;
	height: 20px;
}

.buttons .continue span:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	height: 2px;
	width: 100%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background: #00b3ad;
	transition: .3s;
}

.buttons .continue span:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	height: 15px;
	width: 15px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	border-bottom: 2px solid #00b3ad;
	border-left: 2px solid #00b3ad;
	transition: .3s;
}

.buttons .continue:hover{
	background: #00b3ad;
	color: #fff;
	transition: .3s;
}

.buttons .continue:hover span:before{background: #fff; transition: .3s;}

.buttons .continue:hover span:after{
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
	transition: .3s;
}

.buttons .submit{
	font-weight: 600;
	font-size: 24px;
	color: #fff;
	padding: 13px 29px 15px 33px;
	background: #00b3ad;
	border-radius: 12px;
	border: 0;
	transition: .3s;
}

.buttons .submit span{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 13px;
	width: 20px;
	height: 20px;
}

.buttons .submit span:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	height: 2px;
	width: 100%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background: #fff;
	transition: .3s;
}

.buttons .submit span:after{
	content: '';
	position: absolute;
	top: 2px;
	right: 0;
	height: 15px;
	width: 15px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	transition: .3s;
}

.buttons .submit:hover{
	background: #fff;
	color: #00b3ad;
	transition: .3s;
}

.buttons .submit:hover span:before{background: #00b3ad; transition: .3s;}

.buttons .submit:hover span:after{
	border-bottom: 2px solid #00b3ad;
	border-right: 2px solid #00b3ad;
	transition: .3s;
}

.header{position: relative;}

.header .top-header{background: #f3f3f3; padding: 10px 0 9px;}

.header .top-header .wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
}

.header .top-header .wrapper .ask{
	border-radius: 9px;
	background: #1abbb5;
	font-weight: 600;
	text-align: center;
	font-size: 16px;
	color: #fff;
	padding: 4px 34px 6px;
	transition: .3s;
	display: inline-block;
	letter-spacing: -.3px;
}

.header .top-header .wrapper .ask:hover{background: #00c7ff; transition: .3s;}
.header .top-header .wrapper a{
	font-size: 300px;
	font-size: 16px;
	color: #677375;
	padding-left: 43px;
	transition: .3s;
}
.header .top-header .wrapper a span{
	padding-right: 21px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.header .top-header .wrapper a span img{vertical-align: middle;}
.header .top-header .wrapper .tel, .header .top-header .wrapper .regist{letter-spacing: -.3px;}
.header .top-header .wrapper .tel:hover, .header .top-header .wrapper .regist:hover{color: #1abbb5; transition: .3s;}
.header .top-header .wrapper .regist{padding-left: 60px; text-decoration: underline;}
.header .top-header .wrapper .regist span{padding-right: 7px;}

.header .bottom-header{background: #fff; padding: 5px 0;}
.header .bottom-header .wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.header .bottom-header .wrapper .logo{width: 200px;}
.header .bottom-header .wrapper .logo a{display: inline-block;}
.header .bottom-header .wrapper .logo a img{-o-object-fit: cover;  object-fit: cover; width: 100%;}
.header .bottom-header .wrapper .right-header{
	width: 90%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
}

.header .bottom-header .wrapper .header-burger{
	display: none;
	width: 50px;
	cursor: pointer;
	padding: 10px;
}

.header .bottom-header .wrapper .header-burger:hover{opacity: 1;}

.header .bottom-header .wrapper .header-burger span{
	height: 2px;
	background: #00b4ae;
	margin-top: 6px;
	transition: 0.3s ease-out;
	position: relative;
	width: 100%;
}

.header .bottom-header .wrapper .header-burger span:before{
	content: '';
	position: absolute;
	top: -7px;
	left: 0;
	height: 2px;
	width: 100%;
	background: #00b4ae;
}

.header .bottom-header .wrapper .header-burger span:after{
	content: '';
	position: absolute;
	bottom: -8px;
	left: 0;
	height: 2px;
	width: 100%;
	background: #00b4ae;
}

.header .bottom-header .wrapper .header-menu{
	width: 61%;
	padding-top: 32px;
	position: relative;
}

.header .bottom-header .wrapper .header-menu .close{
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
	height: 30px;
	width: 30px;
}
.header .bottom-header .wrapper .header-menu .close:hover:before{background: #00b3ad; transition: .3s;}
.header .bottom-header .wrapper .header-menu .close:hover:after{background: #00b3ad; transition: .3s;}
.header .bottom-header .wrapper .header-menu .close:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 1px;
	height: 2px;
	width: 100%;
	background: #00b4ae;
	-webkit-transform: rotate(-45deg) translatey(-50%);
	transform: rotate(-45deg) translatey(-50%);
	transition: .3s;
}
.header .bottom-header .wrapper .header-menu .close:after{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	height: 2px;
	width: 100%;
	background: #00b4ae;
	-webkit-transform: rotate(45deg) translatey(-50%);
	transform: rotate(45deg) translatey(-50%);
	transition: .3s;
}

.header .bottom-header .wrapper .header-menu ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
}

.header .bottom-header .wrapper .header-menu ul li{padding: 0 18px;}

.header .bottom-header .wrapper .header-menu ul li a{
	font-weight: 600;
	font-size: 20px;
	color: #677375;
	padding: 0 5px 25px;
	position: relative;
	transition: .3s;
	letter-spacing: -.05px;
}

.header .bottom-header .wrapper .header-menu ul li a:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	height: 3px;
	background: #00b4ae;
	width: 0;
	transition: .3s;
}

.header .bottom-header .wrapper .header-menu ul li a:hover{color: #00b4ae; transition: .3s;}
.header .bottom-header .wrapper .header-menu ul li a:hover:before{width: 100%; transition: .3s;}

.header .bottom-header .wrapper .busket{width: 65px; padding-top: 24px;}
.header .bottom-header .wrapper .busket a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	position: relative;
}

.header .bottom-header .wrapper .busket a .busket-count{
	position: absolute;
	top: -4px;
	right: 4px;
	border-radius: 50%;
	background: #00b3ad;
	display: inline-block;
	padding: 2px 5px;
	font-weight: 700;
	font-size: 14px;
	color: #fff;
}

.header .bottom-header .wrapper .busket-popup{
	position: absolute;
	right: 10px;
	top: 127%;
	border: 1px solid #a7a7a7;
	background: #fff;
	text-align: center;
	padding-bottom: 25px;
	width: 331px;
	display: none;
	z-index: 20;
}

.header .bottom-header .wrapper .busket-popup:before{
	content: '';
	position: absolute;
	top: -10px;
	right: 27px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8.5px 10px 8.5px;
	border-color: transparent transparent #a7a7a7 transparent;
}

.header .bottom-header .wrapper .busket-popup:after{
	content: '';
	position: absolute;
	top: -9px;
	right: 28px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7px 9px 7px;
	border-color: transparent transparent #ffffff transparent;
}

.header .bottom-header .wrapper .busket-popup .busket-title{
	padding: 16px 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	text-align: left;
}

.header .bottom-header .wrapper .busket-popup .busket-title .txt{
	font-weight: 400;
	font-size: 14px;
	color: #c3c3c3;
	width: 80%;
}

.header .bottom-header .wrapper .busket-popup .busket-title .txt h4, .header .bottom-header .wrapper .busket-popup .busket-title .txt h5, .header .bottom-header .wrapper .busket-popup .busket-title .txt h6{
	font-weight: 400;
	font-size: 20px;
	color: #696969;
	padding-bottom: 10px;
}

.header .bottom-header .wrapper .busket-popup .busket-title .close{
	width: 17px;
	height: 20px;
	position: relative;
	margin-right: 6px;
	margin-top: 8px;
}

.header .bottom-header .wrapper .busket-popup .busket-title .close:before{
	content: '';
	position: absolute;
	bottom: 50%;
	left: 0;
	height: 2px;
	width: 55%;
	background: #a7a7a7;
	-webkit-transform: rotate(-25deg) translateY(-50%);
	transform: rotate(-25deg) translateY(-50%);
	transition: .3s;
}

.header .bottom-header .wrapper .busket-popup .busket-title .close:after{
	content: '';
	position: absolute;
	bottom: 50%;
	right: 0;
	height: 2px;
	width: 55%;
	background: #a7a7a7;
	-webkit-transform: rotate(25deg) translateY(-50%);
	transform: rotate(25deg) translateY(-50%);
	transition: .3s;
}

.header .bottom-header .wrapper .busket-popup .busket-title .close:hover:before, .header .bottom-header .wrapper .busket-popup .busket-title .close:hover:after{background: #00b3ad; transition: .3s;}

.header .bottom-header .wrapper .busket-popup .busket-item{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	-ms-flex-line-pack: justify;
		align-content: space-between;
	border-bottom: 1px solid #f9f9f9;
	padding: 19px 12px 9px;
	text-align: left;
}
.header .bottom-header .wrapper .busket-popup .busket-item:nth-child(2){border-top: 1px solid #f9f9f9;}
.header .bottom-header .wrapper .busket-popup .busket-item .pic{width: 110px;}
.header .bottom-header .wrapper .busket-popup .busket-item .pic img{-o-object-fit: contain;  object-fit: contain;}
.header .bottom-header .wrapper .busket-popup .busket-item .item-name{
	padding-left: 10px;
	width: 50%;
	padding-top: 3px;
}

.header .bottom-header .wrapper .busket-popup .busket-item .item-name a{
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #696969;
	display: inline-block;
	padding-bottom: 13px;
	padding-left: 4px;
}

.header .bottom-header .wrapper .busket-popup .busket-item .item-name span{
	display: inline-block;
	padding: 2px 12px;
	border-radius: 6px;
	font-weight: 400;
	font-size: 14px;
	background: #00b3ad;
	color: #fff;
}

.header .bottom-header .wrapper .busket-popup .button-invers{
	width: auto;
	display: inline-block;
	margin: 23px auto 0;
	padding: 6px 33px;
	font-size: 15px;
	letter-spacing: 1px;
}

.header .header-huge-menu{
	position: absolute;
	top: -1500%;
	left: 0;
	width: 100%;
	min-height: 1060px;
	height: auto;
	background: rgba(255, 255, 255, 0.97);
	z-index: 25;
	overflow: hidden;
	transition: .5s;
	opacity: 0;
}

.header .header-huge-menu.active{top: 0; transition: .5s; opacity: 1;}

.header .header-huge-menu .mbox2{padding: 0 40px;}

.header .header-huge-menu .top-menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	padding: 28px 0 44px;
	position: relative;
}

.header .header-huge-menu .top-menu:before{
	content: '';
	position: absolute;
	bottom: 0;
	left: -50%;
	height: 3px;
	width: 200%;
	background: #00b4ae;
}

.header .header-huge-menu .top-menu .search{width: 310px;}

.header .header-huge-menu .top-menu .search .submit{
	font-weight: 400;
	font-size: 20px;
	color: #fff;
	padding: 5px 5px 10px;
	width: 50px;
}

.header .header-huge-menu .top-menu .close{
	font-weight: 700;
	font-size: 20px;
	color: #00b3ad;
	padding-top: 23px;
}

.header .header-huge-menu .top-menu .close span{
	position: relative;
	display: inline-block;
	width: 22px;
	height: 25px;
	vertical-align: bottom;
	margin-left: 8px;
}

.header .header-huge-menu .top-menu .close span:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 3px;
	background: #00b3ad;
}

.header .header-huge-menu .top-menu .close span:after{
	content: '';
	position: absolute;
	top: 49%;
	right: -3px;
	width: 15px;
	height: 15px;
	border-bottom: 3px solid #00b3ad;
	border-right: 3px solid #00b3ad;
	-webkit-transform: rotate(-45deg) translateY(-50%);
	transform: rotate(-45deg) translateY(-50%);
}

.header .header-huge-menu .top-menu .close:hover{color: #00c7ff; transition: .3s;}

.header .header-huge-menu .top-menu .close:hover span:before{background: #00c7ff; transition: .3s;}

.header .header-huge-menu .top-menu .close:hover span:after{
	border-bottom: 3px solid #00c7ff;
	border-right: 3px solid #00c7ff;
	transition: .3s;
}

.header .header-huge-menu .bottom-menu{padding: 23px 0;}

.header .header-huge-menu .bottom-menu>ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
}

.header .header-huge-menu .bottom-menu>ul li{
	padding-left: 15px;
	position: relative;
	transition: .3s;
}

.header .header-huge-menu .bottom-menu>ul li a{
	font-weight: 600;
	font-size: 20px;
	color: #696969;
	line-height: 32px;
}

.header .header-huge-menu .bottom-menu>ul li a span{
	width: 17px;
	height: 10px;
	position: relative;
	margin-left: 10px;
	display: inline-block;
}

.header .header-huge-menu .bottom-menu>ul li a span:before{
	content: '';
	position: absolute;
	bottom: 50%;
	left: 0;
	height: 2px;
	width: 55%;
	background: #a7a7a7;
	-webkit-transform: rotate(25deg) translateY(-50%);
	transform: rotate(25deg) translateY(-50%);
	transition: .3s;
}

.header .header-huge-menu .bottom-menu>ul li a span:after{
	content: '';
	position: absolute;
	bottom: 50%;
	right: 0;
	height: 2px;
	width: 55%;
	background: #a7a7a7;
	-webkit-transform: rotate(-25deg) translateY(-50%);
	transform: rotate(-25deg) translateY(-50%);
	transition: .3s;
}

.header .header-huge-menu .bottom-menu>ul li a span:hover:before, .header .header-huge-menu .bottom-menu > ul li a span:hover:after{background: #00b3ad; transition: .3s;}
.header .header-huge-menu .bottom-menu>ul>li{width: 22%;}
.header .header-huge-menu .bottom-menu>ul>li.wide {width: 48%;}
.header .header-huge-menu .bottom-menu>ul>li:before{
	content: '';
	position: absolute;
	top: 14px;
	left: 1px;
	border-radius: 50%;
	width: 7px;
	height: 7px;
	background: #00b3ad;
}
.header .header-huge-menu .bottom-menu>ul>li>a{color: #a7a7a7;}
.header .header-huge-menu .bottom-menu>ul>li>a:hover{color: #696969; transition: .3s;}
.header .header-huge-menu .bottom-menu>ul>li>ul>li{padding-left: 12px;}
.header .header-huge-menu .bottom-menu>ul>li>ul>li>a:hover{color: #00b3ad; transition: .3s;}
.header .header-huge-menu .bottom-menu>ul>li>ul>li>ul>li{padding-left: 9px;}
.header .header-huge-menu .bottom-menu>ul>li>ul>li>ul>li>ul{display: none;}
.header .header-huge-menu .bottom-menu>ul>li>ul>li>ul{display: none;}
.header .header-huge-menu .bottom-menu>ul>li>ul>li>ul>li>a{font-weight: 400;}
.header .header-huge-menu .bottom-menu>ul>li>ul>li>ul>li>a:hover{font-weight: 600;}
.header .header-huge-menu .bottom-menu>ul>li>ul>li>ul>li>ul>li{padding-left: 17px;}
.header .header-huge-menu .bottom-menu>ul>li>ul>li>ul>li>ul>li>a{font-weight: 300; letter-spacing: -.7px;}
.header .header-huge-menu .bottom-menu>ul>li>ul>li>ul>li>ul>li>a:hover{font-weight: 600;}
.header .header-huge-menu .bottom-menu > ul > li > div { display: -webkit-box; display: -ms-flexbox; display: flex; }
.header .header-huge-menu .bottom-menu > ul > li > div > a { color: #a7a7a7; }
.header .header-huge-menu .bottom-menu > ul > li > div > a:hover { color: #696969; transition: .3s; }
.header .header-huge-menu .bottom-menu > ul > li > div > ul > li { padding-left: 12px; }
.header .header-huge-menu .bottom-menu > ul > li > div > ul > li > a:hover { color: #00b3ad; transition: .3s; }
.header .header-huge-menu .bottom-menu > ul > li > div > ul > li > ul > li { padding-left: 9px; }
.header .header-huge-menu .bottom-menu > ul > li > div > ul > li > ul > li > ul { display: none; }
.header .header-huge-menu .bottom-menu > ul > li > div > ul > li > ul { display: none; }
.header .header-huge-menu .bottom-menu > ul > li > div > ul > li > ul > li > a { font-weight: 400; }
.header .header-huge-menu .bottom-menu > ul > li > div > ul > li > ul > li > a:hover { font-weight: 600; }
.header .header-huge-menu .bottom-menu > ul > li > div > ul > li > ul > li > ul > li { padding-left: 17px; }
.header .header-huge-menu .bottom-menu > ul > li > div > ul > li > ul > li > ul > li > a { font-weight: 300; letter-spacing: -.7px; }
.header .header-huge-menu .bottom-menu > ul > li > div > ul > li > ul > li > ul > li > a:hover { font-weight: 600; }

.footer{background: url("/images/footer-bg.jpg"); padding-top: 61px;}

.footer .footer-row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	padding: 0px 36px 21px 0;
}

.footer .footer-row:last-child{
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	padding-bottom: 34px;
}

.footer .footer-row .socials{padding-right: 10px;}
.footer .footer-row .socials a{padding: 4px 3px; display: inline-block;}
.footer .footer-row .socials a:hover img{
	-webkit-filter: grayscale(0) contrast(100%);
	filter: grayscale(0) contrast(100%);
	transition: .1s;
}
.footer .footer-row .socials a img{
	-webkit-filter: grayscale(100%) contrast(1000%);
	filter: grayscale(100%) contrast(1000%);
	transition: .1s;
}
.footer .footer-row .footer-menu{width: 35%;}

.footer .footer-row .footer-menu ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
}

.footer .footer-row .footer-menu ul li{padding-right: 53px; padding-top: 24px;}

.footer .footer-row .footer-menu ul li a{
	font-weight: 600;
	font-size: 24px;
	color: #fff;
	transition: .3s;
}

.footer .footer-row .footer-menu ul li a:hover{color: #00b3ad; transition: .3s;}

.footer .footer-row .footer-col{
	width: 26%;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	letter-spacing: .2px;
	padding-bottom: 4px;
}

.footer .footer-row .footer-col:nth-child(3){width: 20%; padding-bottom: 1px;}

.footer .footer-row .footer-col h6{
	font-size: 18px;
	padding-bottom: 16px;
	letter-spacing: -.5px;
}

.footer .footer-row .footer-sheep-fish a{
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	display: inline-block;
	transition: .3s;
}
.footer .footer-row .footer-sheep-fish a:hover{color: #00b3ad; transition: .3s;}
.footer .footer-row .footer-sheep-fish a p{padding-top: 13px;}

.footer .copyright{
	text-align: center;
	border-top: 2px solid #39d2fd;
	padding: 28px 0 26px;
	font-weight: 300;
	font-size: 14px;
	color: #fff;
	letter-spacing: .1px;
}

.wrap-index-desc{
	background: url("/images/bg.jpg");
	font-size: 19px;
	font-weight: 600;
	color: #303030;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	padding: 31px 30px 67px;
	max-width: 1920px;
	width: 100%;
}

.wrap-index-desc .desc{
	width: 56%;
	padding: 67px 50px 0 13px;
	line-height: 30px;
}

.wrap-index-desc .pic{width: 44%;}

.wrap-index-desc h1, .wrap-index-desc h2, .wrap-index-desc h3{
	font-size: 36px;
	padding-bottom: 33px;
	line-height: 36px;
}

.wrap-index-desc .button-round{margin: 57px auto 0;}

.wrap-popular{
	background: #dff8ff;
	padding: 79px 0 65px;
	position: relative;
	text-align: center;
	overflow: hidden;
}

.wrap-popular:before{
	content: '';
	position: absolute;
	top: 84px;
	right: -76px;
	width: 399px;
	height: 518px;
	background: url("/images/tel-bg.png");
}

.wrap-popular:after{
	content: '';
	position: absolute;
	bottom: 14px;
	left: -84px;
	width: 399px;
	height: 518px;
	background: url("/images/tel-bg.png");
}

.wrap-popular .products{
	padding: 80px 0 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
}

.wrap-popular .more{
	display: inline-block;
	margin: 0 auto;
	background: #fff;
	border-radius: 15px;
	font-weight: 700;
	font-size: 22px;
	color: #657072;
	padding: 17px 51px 12px 40px;
	letter-spacing: .4px;
}

.wrap-popular .more span{
	margin-right: 26px;
	display: inline-block;
	vertical-align: middle;
}

.wrap-popular .more:hover{color: #00b4ad; transition: .3s;}

.wrap-news{background: #9cdff2; padding: 70px 0 52px; text-align: center;}

.wrap-news .all-news{padding: 64px 0 58px; text-align: left;}

.wrap-news .all{
	display: inline-block;
	margin: 0 auto;
	background: #00b4ae;
	border-radius: 10px;
	font-weight: 700;
	font-size: 22px;
	color: #fff;
	padding: 22px 28px 19px 58px;
	letter-spacing: .4px;
}

.wrap-news .all span{
	margin-left: 57px;
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 11.5px 0 11.5px 20px;
	border-color: transparent transparent transparent #fff;
}

.wrap-news .all:hover{background: #00c7ff; transition: .3s;}

.top-slider{position: relative; overflow: hidden;}
.top-slider .index-slider .slide{position: relative; z-index: 1;}
.top-slider .index-slider .slide .text{
	position: absolute;
	top: 26%;
	left: 146px;
	font-weight: 600;
	font-size: 30px;
	color: #303030;
	line-height: 38px;
	width: 745px;
	z-index: 10;
	letter-spacing: .1px;
}
.top-slider .index-slider .slide .text h4{
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	line-height: 65px;
	color: #fff;
	padding: 0 8px;
	background: #00b3ad;
	margin-bottom: 67px;
	display: inline-block;
	letter-spacing: .2px;
}
.top-slider .index-slider .slide .text p{padding-left: 7px;}
.top-slider .index-slider .slide .text .button-round{
	margin-top: 33px;
	margin-left: 10px;
	padding: 11px 11px 14px;
	width: 279px;
	font-size: 30px;
}
.top-slider .index-slider .slide .overlay{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 0;
	height: 373px;
}
.top-slider .index-slider .slide .overlay img{
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.wrap-brands .brands{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	z-index: 0;
}
.wrap-brands .brands .prev, .wrap-brands .brands .next{width: 121px; text-align: left;}
.wrap-brands .brands .prev img, .wrap-brands .brands .next img{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: .3s;
}

.wrap-brands .brands .prev:hover img, .wrap-brands .brands .next:hover img{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	transition: .3s;
}
.wrap-brands .brands .slide{
	padding: 0px 10px;
	text-align: center;
	height: 218px;
	position: relative;
}
.wrap-brands .brands .slide img{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: .3s;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.wrap-brands .brands .slide:not(:last-child){border-right: 1px solid #ccc;}
.wrap-brands .brands .slide:hover img{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	transition: .3s;
}
.wrap-brands .brands .next{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.wrap-brands .brands .brand-slider{width: 85%;}

.ask_popup{
	border-radius: 12px;
	background: url("/images/bg.jpg");
	overflow: visible;
	padding: 43px 88px 43px 70px;
	width: 970px;
	text-align: right;
	max-width: 100%;
}

.ask_popup .popup-title{
	text-align: center;
	font-weight: 600;
	font-size: 36px;
	color: #696969;
	padding-bottom: 48px;
	letter-spacing: -.6px;
	padding-left: 19px;
}

.ask_popup .form-field{
	padding-bottom: 29px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.ask_popup .form-field.radio{
	padding-bottom: 18px;
	width: 72%;
	margin-right: 0;
	margin-left: auto;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: 400;
	font-size: 24px;
	color: #696969;
}

.ask_popup .form-field.radio:nth-child(8){padding-bottom: 27px;}

.ask_popup .form-field .field-name{
	width: 20%;
	text-align: right;
	padding-right: 10px;
	padding-top: 11px;
	display: inline-block;
	font-weight: 400;
	font-size: 24px;
	color: #696969;
}

.ask_popup .form-field .el-input, .ask_popup .form-field .el-textarea{width: 72%;}

.ask_popup .submit{
	margin-right: 16px;
	margin-top: 9px;
	font-weight: 600;
	font-size: 20px;
	color: #fff;
	background: #1abbb5;
	border-radius: 10px;
	border: 0;
	padding: 10px 33px 12px;
	transition: .3s;
	letter-spacing: -.6px;
}

.ask_popup .submit:hover{background: #00c7ff; transition: .3s;}

.busket-steps{
	background: #fff;
	padding: 23px 0 16px;
	z-index: 0;
	position: relative;
}
.busket-steps ul{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 1190px;
	margin: 0 auto;
}
.busket-steps ul li{padding: 0 70px;}
.busket-steps ul li a{
	font-weight: 600;
	font-size: 24px;
	color: #d8dbdb;
	text-transform: uppercase;
}
.busket-steps ul li a.active{font-size: 30px; color: #48c7c5;}
.busket-steps ul li a.active span{background: #48c7c5; color: #fff;}
.busket-steps ul li a span{
	display: inline-block;
	margin-right: 15px;
	border-radius: 50%;
	border: 1px solid #0bb6b1;
	padding: 6px 11px 6px 12px;
}

.first-busket{background: #dff8ff url("/images/bg-light.jpg");}
.first-busket .busket-content{
	width: 1276px;
	margin: 0 auto;
	padding: 40px 0 94px;
}
.first-busket .busket-content .busket-table{background: #fff;}
.first-busket .busket-content .busket-table .table-row{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	position: relative;
	padding: 17px 0 16px;
	font-weight: 600;
	font-size: 24px;
	color: #00b3ad;
}
.first-busket .busket-content .busket-table .table-row.table-header, .first-busket .busket-content .busket-table .table-row.table-footer{background: #00b3ad; color: #fff;}
.first-busket .busket-content .busket-table .table-row.table-header{
	padding: 17px 0 12px;
	font-weight: 400;
	font-size: 18px;
}
.first-busket .busket-content .busket-table .table-row.table-header .table-col:first-child{text-align: center;}

.first-busket .busket-content .busket-table .table-row.table-footer{
	padding: 27px 0;
	font-weight: 600;
	font-size: 24px;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.first-busket .busket-content .busket-table .table-row.table-footer .table-col:first-child{width: 12%;}
.first-busket .busket-content .busket-table .table-row .table-col{width: 21%; text-align: center;}
.first-busket .busket-content .busket-table .table-row .table-col:first-child{width: 47%; text-align: left;}
.first-busket .busket-content .busket-table .table-row .table-col:nth-child(2){width: 17%;}
.first-busket .busket-content .busket-table .table-row .table-col:last-child{width: 15%;}
.first-busket .busket-content .busket-table .table-row .delete{
	display: inline-block;
	width: 20px;
	height: 20px;
	position: absolute;
	vertical-align: middle;
	top: 53%;
	left: 16px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.first-busket .busket-content .busket-table .table-row .delete:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	height: 2px;
	width: 100%;
	background: #a7a7a7;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.first-busket .busket-content .busket-table .table-row .delete:after{
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	height: 2px;
	width: 100%;
	background: #a7a7a7;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.first-busket .busket-content .busket-table .table-row .delete:hover:before, .first-busket .busket-content .busket-table .table-row .delete:hover:after{background: #00b3ad; transition: .3s;}
.first-busket .busket-content .busket-table .table-row .product{
	display: inline-block;
	padding-left: 42px;
}
.first-busket .busket-content .busket-table .table-row .product .pic{
	width: 150px;
	height: 98px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-right: 17px;
}
.first-busket .busket-content .busket-table .table-row .product .pic img{
	-o-object-fit: contain;
	 object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}
.first-busket .busket-content .busket-table .table-row .product .prod-name{
	font-weight: 400;
	font-size: 24px;
	color: #696969;
	transition: .3s;
	letter-spacing: .2px;
}
.first-busket .busket-content .busket-table .table-row .product:hover .prod-name{color: #00b3ad; transition: .3s;}

.second-busket, .third-busket{background: #dff8ff url("/images/bg-light.jpg"); padding: 39px 0 94px;}
.second-busket .form-table, .third-busket .form-table{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.second-busket .form-table .form-col, .third-busket .form-table .form-col{width: 50%;}

.second-busket .form-table .form-col:first-child .form-header,
.third-busket .form-table .form-col:first-child .form-header{padding: 27px 96px 24px;}

.second-busket .form-table .form-col:first-child .form-content,
.third-busket .form-table .form-col:first-child .form-content{border-right: 1px solid #a2e1f3; padding: 38px 99px 0 96px;}

.second-busket .form-table .form-col:last-child, .third-busket .form-table .form-col:last-child{width: 100%;}

.second-busket .form-table .form-col.delivery, .third-busket .form-table .form-col.delivery{text-align: center;}

.second-busket .form-table .form-col.delivery .el-radio,
.third-busket .form-table .form-col.delivery .el-radio{margin-right: 3px;}

.second-busket .form-table .form-col.delivery .form-field,
.third-busket .form-table .form-col.delivery .form-field{display: inline-block; padding: 0 14px 0 55px;}

.second-busket .form-table .form-col.delivery .form-field label,
.third-busket .form-table .form-col.delivery .form-field label{
	font-weight: 600;
	font-size: 18px;
	color: #696969;
}
.second-busket .form-table .form-col.delivery .form-field label span,
.third-busket .form-table .form-col.delivery .form-field label span{
	font-weight: 300;
	color: #00b3ad;
	display: inline-block;
	margin-left: 16px;
	letter-spacing: -.6px;
}
.second-busket .form-table .form-col .form-header,
.third-busket .form-table .form-col .form-header{background: #a2e1f3; padding: 27px 78px 24px;}

.second-busket .form-table .form-col .form-header h4,
.second-busket .form-table .form-col .form-header h5,
.second-busket .form-table .form-col .form-header h6,
.third-busket .form-table .form-col .form-header h4,
.third-busket .form-table .form-col .form-header h5,
.third-busket .form-table .form-col .form-header h6{
	font-weight: 600;
	font-size: 24px;
	color: #696969;
	text-transform: uppercase;
	display: inline-block;
}
.second-busket .form-table .form-col .form-content,
.third-busket .form-table .form-col .form-content{
	padding: 38px 118px 0 78px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.second-busket .form-table .form-col .form-content .form-field,
.third-busket .form-table .form-col .form-content .form-field{
	width: 43%;
	padding-bottom: 41px;
	font-weight: 400;
	font-size: 18px;
	color: #696969;
}

.second-busket .form-table .form-col .form-content .form-field .el-input,
.third-busket .form-table .form-col .form-content .form-field .el-input{width: 100%;}

.second-busket .form-table .form-col .form-content .form-field p,
.third-busket .form-table .form-col .form-content .form-field p{padding-left: 23px; padding-bottom: 7px;}

.second-busket .card-busket,
.third-busket .card-busket{
	width: 761px;
	margin: 0 auto;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 62px;
}
.second-busket .card-busket:before,
.third-busket .card-busket:before{
	content: '';
	position: absolute;
	top: -57px;
	right: -340px;
	background: url("/images/comment.png");
	width: 291px;
	height: 269px;
}
.second-busket .card-busket .back,
.third-busket .card-busket .back{
	border: 3px solid #00b3ad;
	border-radius: 11px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 590px;
	height: 392px;
	text-align: right;
	padding-top: 120px;
}
.second-busket .card-busket .front,
.third-busket .card-busket .front{
	border: 3px solid #00b3ad;
	border-radius: 11px;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 85%;
	width: 590px;
	height: 392px;
	background: url("/images/bg.jpg");
	position: relative;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-line-pack: end;
	align-content: flex-end;
	padding-bottom: 37px;
}
.second-busket .card-busket .front:after,
.third-busket .card-busket .front:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: url("/images/card-bg.jpg");
	width: 274px;
	height: 211px;
	z-index: -1;
}
.second-busket .card-busket .front .card-type,
.third-busket .card-busket .front .card-type{
	font-weight: 700;
	font-size: 24px;
	color: #696969;
	position: absolute;
	top: 37px;
	right: 36px;
	letter-spacing: .7px;
}
.second-busket .card-busket .front .card-type .el-input,
.third-busket .card-busket .front .card-type .el-input{
	width: 255px;
	padding: 13px 5px;
	margin-left: 5px;
}
.second-busket .card-busket .front .card-type p,
.third-busket .card-busket .front .card-type p{display: inline-block;}

.second-busket .card-busket .front .cvv-field,
.third-busket .card-busket .front .cvv-field{
	text-align: center;
	width: 138px;
	font-weight: 700;
	font-size: 24px;
	color: #696969;
	position: absolute;
	top: 66px;
	right: -149px;
}
.second-busket .card-busket .front .cvv-field .el-input,
.third-busket .card-busket .front .cvv-field .el-input{width: 100%; margin-top: 10px;}

.second-busket .card-busket .front .card-number,
.third-busket .card-busket .front .card-number{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 30px 10px;
}
.second-busket .card-busket .front .card-number .el-input,
.third-busket .card-busket .front .card-number .el-input{width: 23%;}

.second-busket .card-busket .front .price,
.third-busket .card-busket .front .price{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 30px;
	font-weight: 700;
	font-size: 24px;
	color: #fff;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	letter-spacing: .6px;
}
.second-busket .card-busket .front .price .card-time,
.third-busket .card-busket .front .price .card-time{font-weight: 700; font-size: 56px; color: #fff;}

.second-busket .card-busket .front .price .card-time p,
.third-busket .card-busket .front .price .card-time p{display: inline-block; vertical-align: bottom;}

.second-busket .card-busket .front .price .card-time .el-input.time1,
.third-busket .card-busket .front .price .card-time .el-input.time1{width: 45px; display: inline-block;}

.second-busket .card-busket .front .price .card-time .el-input.time2,
.third-busket .card-busket .front .price .card-time .el-input.time2{width: 76px; display: inline-block;}

.second-busket .buttons,
.third-busket .buttons{
	width: 100%;
	max-width: 1324px;
	margin: 0 auto;
}
.second-busket .buttons .continue,
.third-busket .buttons .continue{margin-left: 50px;}

.third-busket{padding: 112px 0 102px;}
.third-busket .buttons{padding: 26px 0;}
.third-busket .el-input{text-align: center;}

.wrap-thanks{
	background: #dff8ff url("/images/bg-light.jpg");
	padding: 74px 0 332px;
	position: relative;
	z-index: 0;
}
.wrap-thanks .thanks{
	width: 560px;
	margin: 0 auto;
	background: url("/images/thanks.png") no-repeat center/contain;
	color: #696969;
	font-weight: 400;
	font-size: 36px;
	padding: 87px 0 150px;
	text-align: center;
}
.wrap-thanks .thanks h1, .wrap-thanks .thanks h2, .wrap-thanks .thanks h3{
	font-weight: 700;
	font-size: 36px;
	padding-bottom: 38px;
	letter-spacing: .5px;
}
.wrap-thanks .thanks .to-main{
	font-weight: 600;
	font-size: 24px;
	color: #fff;
	padding: 13px 28px 15px 30px;
	background: #00b3ad;
	border-radius: 11px;
	border: 0;
	transition: .3s;
	margin-top: 55px;
	display: inline-block;
	letter-spacing: -.5px;
}
.wrap-thanks .thanks .to-main span{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
	width: 20px;
	height: 20px;
}
.wrap-thanks .thanks .to-main span:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	height: 2px;
	width: 100%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background: #fff;
	transition: .3s;
}
.wrap-thanks .thanks .to-main span:after{
	content: '';
	position: absolute;
	top: 2px;
	right: 0;
	height: 15px;
	width: 15px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	transition: .3s;
}
.wrap-thanks .thanks .to-main:hover{
	background: #fff;
	color: #00b3ad;
	transition: .3s;
}
.wrap-thanks .thanks .to-main:hover span:before{background: #00b3ad; transition: .3s;}
.wrap-thanks .thanks .to-main:hover span:after{
	border-bottom: 2px solid #00b3ad;
	border-right: 2px solid #00b3ad;
	transition: .3s;
}